dash==2.1.0
dash-bootstrap-components==1.0.3
dash-daq==0.5.0
dash-extensions==0.0.71
Flask==2.0.3
gunicorn==20.0.4
pandas==1.3.4
plotly==5.3.1
numpy==1.20.1
requests
xlsxwriter==1.4.3
Werkzeug==2.0.3
